include README.md
include pyproject.toml
include LICENSE
recursive-include pyllama *.py
recursive-exclude pyllama/bin *
include pyllama/bin/windows/.gitkeep
include pyllama/bin/linux/.gitkeep
include pyllama/bin/darwin/.gitkeep
